body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/static/thala.jpg") center fixed;
  background-size: cover;
  filter: blur(5px);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prompt {
  margin-bottom: 20px;
}

input {
  width: 200px;
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
